body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.board{  
  position: relative; 
  cursor: pointer;
  height: 500px;
  border: 4px double red ;
}

.square{
  position: absolute;
  cursor: pointer;
  height: 100px;
  width: 100px;
  border: 4px double black ;
}

.active{
  border: 4px dotted yellow ;
  cursor: pointer;
}
